.bb{
    display: flex;
    align-items: center;
    justify-content: center;
     border: 2px solid black;
    border-radius: 15px;
    
}
.main-box{
    
    display: flex;
    align-items: center;
    justify-content: center;

}
